img{
	width:100%;
}
.explain{
	padding: 2em;
}
#targetNum, #totalScore{
	font-size: 2em
	
}
#win, #lose{
	color: red;
	font-size: 2em;
	font-weight: bold;
}
h1 {
	font-family: 'Lobster', cursive;
}
body{
	font-family: 'Gloria Hallelujah', cursive;
}